body {
    margin: 0px;
    font-family: Calibri;
    background-color: white;
}

main {
    padding: 10px;
}

nav {
    background-color: #DCDCDC;
    padding: 10px;
}



ul {
    list-style-type: none;
}

<!-- #F1FAEE -->
li a {
    color: #F1FAEE;
    font-size: 30px;
    width: 120px;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
}

li {
    display: inline;
    padding-left: 2px;
    column-width: 20px;
}

a {
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: #CCC;
    color: #000;
}

footer {
    background-color: #DCDCDC;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px;
    margin: 5px auto 0 auto;
}


.texto-derecha {
    text-align: right;
}

.tablePlaceHolder{
    width: 100%;
}



